@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello world</h1>
        <ul>
            <li>Entity Framework</li>
            <li>Twitter Bootstrap</li>
        </ul>
    </div>
</body>
</html>
